* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #131729;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 23, 41, 0.8); /* Oscurece el fondo */
  z-index: 900;
  opacity: 0;
  pointer-events: none;
}

#overlay.show {
  opacity: 1;
  pointer-events: auto;
}
/* === Menú hamburguesa lateral === */

#menu {
  background-color: #131729;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#menu.show {
  transform: translateX(0);
}

.menu-group {
  border-bottom: 2px solid #3B6589;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* === Lista principal === */
#menu ul {
  padding: 0;
  margin: 0;
}

#menu ul li {
  display: flex;
  gap: 10px;
  padding: 5px 5px;
  cursor: pointer;
}

#menu ul li img {
  width: 20px;
  height: 20px;
}

#menu ul li a {
  color: #4DF3F7;
  font-size: 16px;
  text-decoration: none;
}

.categorías {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoría-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropdown {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-left: 30px;
  margin-top: 5px;
}

.dropdown.showcategories {
  display: flex;
}

.dropdown li a {
  font-size: 14px;
  color: #4DF3F7;
  text-decoration: none;
  padding: 5px 0;
  margin-left: 25px;
}
.icono {
  width: 20px;
  height: 20px;
  fill: #3C9597;
}


/* === Navbar principal === */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131729;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 10px 20px;

}
nav.ul.div{
    display: flex;
    flex-direction: row;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    padding-left: 10px;
    font-size: 22px;
    color: #3C9597;
    cursor: pointer;
}

.logo img {
    height: 60px;
}

.profil-icon i {
    padding-right: 10px;
    font-size: 22px;
    color: #3C9597;
}

/*---- Buscador ----*/

.search-bar {
    margin: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar input {
    width: 200px;
    padding: 8px 35px 8px 15px;
    border: 1px solid #4DF3F7;
    border-radius: 20px;
    background: #2C3C4F;
    color: #4DF3F7;
}

.search-bar input::placeholder {
    padding-left: 20px;
    color: #4DF3F7;
}

.search-bar button {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    color: #4DF3F7;
    cursor: pointer;
    font-size: 16px;
}

/*---- Body ----*/

body {
    background-color: #131729;
}

.home-cards {
display: flex;
}

.card {
    height: 150px;
    width: 200px;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 100px 100px rgb(0, 0, 0);
}

/*---- Footer ----*/

footer {
    background-color: #21294A;
    color: #7f8c8d;
    padding-top: 5rem;
    position: relative;
}

.title-footer {
    font-weight: normal;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    color: #4DF3F7
}

.footer-bmo img{
    height: 80px;
}

.footer-bmo {
    position: absolute;
    right: 50px;         /* 50px del borde derecho */
    top: -5px;          /*  */
    z-index: 10;         /* Por encima del contenido */
}

.footer-logo img {
    height: 120px;
}

ul li { /*---- acomodar ----*/
    font-size: 15px;
    padding: 1px;
}

/*Usé CSS Grid porque me permite crear layouts complejos de forma simple. Con grid-template-columns defino las columnas,
y con grid-column y grid-row posiciono elementos específicos donde necesito, como poner 'Contacto' debajo de 'Métodos de pago
' en la misma columna. Es más eficiente que Flexbox para layouts bidimensionales*/

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Una fracción del espacio disponible - 5 columnas de igual tamaño */
    gap: 3rem; /* Espacio entre columnas y filas - más limpio que usar margins*/
    margin-bottom: 2rem;
    border-top: 1px solid #4DF3F7;
    max-width: 1450px;
    margin: 0 auto;
}

.footer-desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-desc p {
    font-size: 20px;
}

/* Lo pongo en la columna 5 fila 2 (para que este debajo de "Métodos de pago"*/
.footer-contact {
    grid-column: 5; 
    grid-row: 2;
}

.text-copy {
    border-top: 1px solid #4DF3F7; /* Línea divisora */
    max-width: 1450px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 4rem; /* Fijarse s deberia ser 5rem como el de arriba */
    text-align: center;
    color: #7f8c8d;
    font-size: 15px;
}


